@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #111;
}
main{
    position: relative;

    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .logo {
            color: #fff;
            text-decoration: none;
            font-size: 1,2em;
        }
        .toggle{
            img{
                max-width: 40px;
                cursor: pointer;
            }
        }

    }

    .banner{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            z-index: 1000;
            background: linear-gradient(to top, #111, transparent);
        }

        .content{
            position: relative;
            max-width: 900px;
            text-align: center;
            z-index: 10000;
            h2{
                font-size: 3em;
                width: 100%;
                font-weight: 900;
                color: #fff;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                color: #fff;
                font-size: 1.2em;

                
            }


        }
    }


    .banner2{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 400px;
            z-index: 1000;
            background: linear-gradient(to top, #111, transparent);
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            z-index: 1000;
            background: linear-gradient(to bottom, #111, transparent);
        }
    }
    .destination{
        position: relative;
        text-align: center;
        .content{
            width: 100%;
            text-align: center;
        }
        .destination-list{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 40px;
            &:hover{
                .box{
                    opacity: 0.2;
                }
            }
            .box{
                position: relative;
                min-width: 350px;
                height: 480px;
                background: #191919 ;
                transition: 0.5s;
                margin: 10px;
                overflow: hidden;
                border-radius: 15px;

                &:hover{
                    opacity: 1;
                }
                .img-bx{
                    position: relative;
                    width: 100%;
                    height: 400px;
                }
                .content{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h3{
                        color: #fff;
                        font-weight: 500;
                        line-height: 1.2em;
                        span{
                            font-size: 0.8em;
                            font-weight: 300;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .banner3{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 400px;
            z-index: 1000;
            background: linear-gradient(to top, #111, transparent);
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 400px;
            z-index: 1000;
            background: linear-gradient(to bottom, #111, transparent);
        }
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .sci{
            position: relative;
            display: flex;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    margin: 0 20px;
                    img{
                        filter: invert(1);
                        max-width: 40px;
                    }
                }
            }
        }
        .copyright{
            margin-top: 20px;
            font-size: 18px;
            font-weight: 300;
            color: #666;
            text-align: center;
            a{
                color: #fff;
                text-decoration: none;

            }
        }
    }
}

.about{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .content-bx{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        min-width: 50%;
        width: 50%;
        // height: 100%;
        text-align: end;
        padding-right: 40px;
    }
}

a.btn{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #333;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
}

.title-text{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 1em;
}
.img-bx{
    position: relative;
    // min-width: 50%;
    width: 50%;
    height: 500px;
    overflow: hidden;
    padding-right: 50px;
    
    img{
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }
}

.fit-Bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
@media(max-width:600px){
    section{
        padding: 40px;
    }
    .banner{
        img{
            min-height: 100%;
        }
        h2{
            font-size: 2.5em;
        }
        p{
            font-size: 1em;
        }
    }
    .about{
        flex-direction: column;
        .content-bx{
            flex-direction: column;
            min-width: 100%;
            text-align: center;
            padding-right:0px ;
        }
        .img-bx{
            min-width: 100%;
            width: 100%;
            text-align: center;
            padding-right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            .fit-Bg{
                width: 100%;
            }
        }
    }

    .img-bx{
        min-height: 250px;
    }
    .title-text{
        font-size: 1.5em;
    }

    a.btn{
        margin-bottom: 40px;
    }
    
    .destination-list {
        .box{
            position: relative;
            max-width: 350px;
            width: 100%;
            height: 400px;
            min-width: initial;
            .img-bx{
                height: 320px;
                .fit-Bg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .footer{
        .sci{
            li{
                a{
                    img{
                        filter: invert(1);
                        max-width: 30px;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #222;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}