@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    perspective: 1000px;

    .card{
        position: relative;
        width: 320px;
        height: 320px;
        margin: 20px;
        border-radius: 15px;
        overflow: hidden;

        .box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: 1s ease;

            .imgBx{
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }   
            }
            .contentBx{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #333;
                transform: rotateY(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                
                .content{
                    transform-style: preserve-3d;
                    transform: translateZ(180px);
                    background: linear-gradient(45deg, #ff0061 ,#ffeb3b);
                    padding: 20px;
                    margin: 0 30px;
                    border-radius: 15px;
                    h2{
                        font-size: 20px;
                        color: #fff;
                        letter-spacing: 1px;
                        backface-visibility: hidden;
                    }
                    p{
                        font-size: 16px;
                        color: #fff;
                        backface-visibility: hidden;
                    }
                }
            }
        }

        &:hover{
            cursor: pointer;
            .box{
                transform: rotateY(180deg);
            }
        }
    }
}