/* * {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
} */

.padre {
    background: #f13929;
    height: 200px;
    width: 200px;
    position: fixed;
    /* left: 50%; */
    right: 0;
    bottom: 0;
}
.hijo {
    background: #7888ea;
    height: 300px;
    width: 300px;
}