*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
}

body{
    background: #ccc;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #d2eeea;
    background-image: linear-gradient(
        to right top,
        #d2eeea 0%,
        #f9f9f9 49%,
        #f9f9f9 49%,
        #f7eec3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    margin: 70px auto;
    // border: 1px solid black;
    width: 350px;
    height: 470px;
    text-align: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1), 0px 60px 75px -25px rgba(0,0,0,0.2);
    .img-cart{
        width: 290px;
        margin-top: -60px;
        animation: flotar 1.2s ease-in-out infinite;
    }
    h3{
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 35px;
        color: #ea1d24;
    }
    .control-btn{
        span{
            position: absolute;
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #f22d34;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0px 2px 7px rgba(241,44,51,0.7);
            transition: 0.3s ease-in;
            margin-top: 20px;
            &:hover{
                background: #de2128;
            }
        }
        .prev{
            left: -17.5px;
        }
        .next{
            right: -17.5px;
        }
    }
    p{
        font-size: 11px;
        padding: 15px 45px;
        color: #878787;
        line-height: 22px;
    }
    .properties{
        width: 100%;
        height: 130px;
        margin-top: 20px;
        div{
            text-align: center;
            width: 33.33%;
            float: left;
            h4{
                font-size: 14px;
                color: #757575;
                padding: 25px 0px;
            }
        }
        .qty{
            .fa-solid{
                font-size: 7px;
                color: #757575;
                background: #dfdfdf;
                border-radius: 100%;
                padding: 4px;
                cursor: pointer;
            }
            .number{
                font-size: 11px;
                color: #757575;
                padding: 5px;
            }
        }
        .price{
            .fa-solid{
                font-size: 18px;
                color: #757575;
            }
            .amount{
                font-size: 18px;
                color: #646363;
                padding: 0 5px;
            }
        }
        .delivery{
            .fa-solid{
                font-size: 15px;
                color: #757575;
            }
            .time{
                display: inline-block;
                color: #757575;
                font-size: 11px;
            }
        }

    }
    .ip-add-cart{
        background-color: #f22d34;
        color: #fff;
        padding: 12px 50px;
        border-radius: 25px;
        box-shadow: 0px 15px 45px rgba(242,45,52,0.5);
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease-in;
        &:hover{
            background: #da1920;
        }
    }

}

@keyframes flotar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
    
}