body {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover {
    color: #F0D84F;
}

@media (max-width:680px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}






